.missionRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.missionName {
  flex-basis: 15%;
  text-align: center;
  font-size: 1.5rem;
}

.missionInfo {
  flex-basis: 60%;
  padding: 0.5rem;
}

.missionStatus {
  flex-basis: 10%;
}

.missionToggle {
  flex-basis: 10%;
}
