@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family:
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile::before {
  content: '|';
  margin-right: 1.2rem;
  font-weight: bold;
  color: #333;
}

.underline {
  text-decoration: underline;
  color: #4169e1;
}

.nav {
  display: flex;
  padding: 1rem;
  padding-left: 8rem;
  border-bottom: 1px solid gray;
}

.nav-items > * {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.2rem;
}

ul.nav-container-items {
  color: #4169e1;
}

.logo {
  margin-right: auto;
}

.logo p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
  padding-left: 5rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 60px;
  width: 4rem;
}

.nav-container {
  align-items: center;
  padding: 1rem 10%;
}

.nav-container ul {
  font-family: 'Roboto', sans-serif;
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  text-decoration: none;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  margin: 3vw 7vw;
}

.dragon-container {
  display: flex;
  gap: 25px;
}

.dragon-container-img {
  object-fit: cover;
  width: 28%;
  box-shadow: 1px 1px 5px black;
  border-radius: 15px;
}

.dragon-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dragon-info-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.dragon-info-span {
  display: flex;
  gap: 12px;
  align-items: center;
}

.dragon-info-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #212529;
}

.dragon-info-button {
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  width: 100%;
}

.dragon-cancel-reserve {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #333;
}

.reserved {
  background-color: #4169e1;
  padding: 5px;
  color: #f5f5f5;
  border: none;
  border-radius: 0.5rem;
}

.width300 {
  width: 300px;
}
